.home
	.logo
		md-icon(md-svg-icon="img/logo.svg")
	.descarga
		.descarga-content
			p Descargar la convocatoria para la asamblea general ordinaria de accionistas
			a(href="convocatoria/convocatoria.pdf" download="convocatoria/convocatoria.pdf")
				md-button
					md-icon(md-svg-icon="img/pdf.svg")
